.my-btn{
    background-color: #63dc9f;
    border: 0;
    border-radius: 3px;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
}
.my-btn:hover{
    cursor: pointer;
    background-color: #83bf83;
}
.title{
    color: #62ce62;
}
.text{
    color: green;
    border:5px;

}